body {
  background: pink;
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
}

.container{
  width: 100%;
  height: 100%;
 text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
  /* border: 2px solid green; */
}
.buttons {
   position: relative;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

}

button {
  padding: 14px 24px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
    margin-top: 40px;
  
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #555;
  color: white;
}
.no.moving {
  position: absolute;
  transition: top 0.2s ease, left 0.2s ease;
}


.final {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  top: 30px;
  /* left: 5%; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border:2px solid blue; */
}
.final img {
  width: 350px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
   
}

.final h1 {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  color: rgb(255, 83, 83);
  font-size: 3rem;
}
@media(max-width:850px){
  .final{
    top: 80px;
  }
  .final img{
    margin-left:1%;
  }
  .container{
    top: 60px;
  }

}